@import "tailwindcss";

@plugin "tailwindcss-animate";

@source '../node_modules/emblor/dist/index.mjs';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.14 0 286);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.14 0 286);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.14 0 286);
  --primary: oklch(0.21 0.01 286);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.97 0 286);
  --secondary-foreground: oklch(0.21 0.01 286);
  --muted: oklch(0.97 0 286);
  --muted-foreground: oklch(0.55 0.01 286);
  --accent: oklch(0.97 0 286);
  --accent-foreground: oklch(0.21 0.01 286);
  --destructive: oklch(0.64 0.21 25);
  --destructive-foreground: oklch(0.99 0 0);
  --border: oklch(0.92 0 286);
  --input: oklch(0.87 0.01 286);
  --ring: oklch(0.14 0 286);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.14 0 286);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.14 0 286);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.14 0 286);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.99 0 0);
  --primary-foreground: oklch(0.21 0.01 286);
  --secondary: oklch(0.27 0.01 286);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.21 0.01 286);
  --muted-foreground: oklch(0.65 0.01 286);
  --accent: oklch(0.21 0.01 286);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.64 0.21 25);
  --destructive-foreground: oklch(0.99 0 0);
  --border: oklch(0.27 0.01 286);
  --input: oklch(0.27 0.01 286);
  --ring: oklch(0.87 0.01 286);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/30;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Custom scrollbar styling. Thanks @pranathiperii. */
  pre::-webkit-scrollbar {
    width: 5px;
  }
  pre::-webkit-scrollbar-track {
    background: transparent;
  }
  pre::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  pre {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}
